<h1>Hello World {{ name }}</h1>
<p>{{ age }}</p>
<div *ngFor="let hobby of hobbies">
  <p> {{ hobby }} </p>
  <button (click)="deleteHobby(hobby)">X</button>
</div>
<ul>
  <li>Age: {{ age }}</li>
  <li>Email: {{ email }}</li>
  <li>Address: {{ address.street }} , {{address.state }}</li>
</ul>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<hr>
<button (click)="onClick()">Click Me</button>


<h1>Edit User</h1>
<form>
  <div>
    <label for="name">Name: </label><br>
    <input type="text" [(ngModel)]="name" name="name">
  </div>
  <div>
      <label for="name">Age: </label><br>
      <input type="number" [(ngModel)]="age" name="age">
  </div>
</form>